<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kdm.journal-daily-setup</string>

    <key>Program</key>
    <string>/Users/kdm/projects/digital-ext/business-os-automations/journal_daily_setup/bin/run_journal_daily_setup.sh</string>


    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>1</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/kdm/Library/Logs/journal_daily_setup.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/kdm/Library/Logs/journal_daily_setup.err</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>